body {
  text-align: center;
  background-color: #c2c2c2;
  margin-top: 50px;
}

input {
  height: 30px;
  width: 342px;
}

button{
  color: white;
  border: none;
  background-color: #393939;
  font-size: 20px;
  height: 65px;
  outline: 1px solid black;
  width: 85px;
}

#equals {
  background-color: #3939ac;
}

.operator{
  background-color: #757575;
}

#clear {
  background-color: #39ac39;
  width: 255px;
}

#zero {
  width: 170px;
}
